/*about page styling*/
.abthead {
    background-image: url(images/dasci1.jpg);
    filter: blur(2px);
    background-repeat: no-repeat;
    min-height: 65vh;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
}
/*.tx {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box; border-radius: 4px;

}*/



/**/
.csd {
    position: relative;
    top:-15px;
    left: 25px;
    background-color: hsl(190, 83%, 19%);
    width: 75px;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 5px 5px hsla(0, 0%, 0%, 0.2),
                0px 3px 5px hsla(0, 0%, 0%, 0.1)
}

nav i {
    color: hsl(190, 83%, 19%);
}
i .bi-quote {
    font-weight: 900; 
    font-size: 40px;
    color: white;
    
}

i .bi-chevron {
    font-size: 20px;
    color: hsl(189, 21%, 94%);
    font-weight: 900;
}
.fdbk {
    background-color: hsla(0, 0%, 0%, 0.1);
}