* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}
/* header styling*/
header {
    width: 100%;
    height: 100vh;
}

body{
    background-color:white;
}

/*carousel styling*/
.carousel {
    top: 0;
    left:0;
}
/*.carousel::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0,0,0, 0.6);
}*/
.carousel .carousel-inner .carousel-item img{
    width: 100% !important;
    height: 100vh;
    filter: blur(5px);
    backdrop-filter: brightness(30%);
}
.carousel .carousel-inner .carousel-item .carousel-caption   {
    position: absolute;
    top: 20%;
    font-size: xx-large;
    backdrop-filter: blur(20px);
    backdrop-filter: brightness(80%);
    height: 500px;
    border-radius: 10px;
}
.carousel-caption p {
    font-weight:lighter;
    color: white;
    
}
.carousel-caption h1 {
    font-weight: 900;
    font-size: 75px;
    color:white;
}
.carousel-caption button {
    background-color: hsl(190, 82%, 19%);
    color: white;
}
.carousel-caption button:hover {
    background-color: hsl(190, 82%, 38%);
    color: white;
} 

/*all buttons styling*/
.btn {
    background-color: hsl(190, 82%, 19%);
    border:0px;
    color:white;
    font-weight: 700;
    margin: 2rem auto;
    box-shadow: 2px 2px 8px 4px rgba(0, 0,0, 0.2),
                1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}
.btn:hover {
    background-color:hsl(190, 82%, 38%);
    border: 0px;
    color:beige;
    transition: 2sec;
}

/*all articles and content styling*/
article {
    /*margin: 2rem 3rem 0rem 3rem;*/
    padding: 1rem 3rem;
    min-height: 50vh;
}
article h1 {
    font-weight: 800;
    font-size: 47px;
}
article p {
    font-weight: 200;
    font-size: 24px;
}

/*link elements*/
a{
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}
/*services article*/
#services {
    background-color:hsl(0, 7%, 95%);
}
#services p {
    color: hsl(190, 96%, 10%);
}

/*cards*/
.card{
    margin: 1.5rem;
    border: 0px;
    height: 300px;
    padding-left: 1em 2em 2em 2em;
    border-radius: 10px;
    background-color:white;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1),
                -3px -3px 5px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.01);
    transform: translateY(-3px);
    transition-duration: 0.3s;
    transition-timing-function:ease-in-out ;
    
}
.card p {
    color: hsl(190, 96%, 10%);
    font-weight: 300;
    font-size:20px;
}

.wy {
    font-weight: 800;
    font-size: large;
}

#getstarted {
    background-color: hsl(190, 84%, 19%);
    color: white;
}

#getstarted h4{
    font-weight: 300;
}
#getstarted button {
    background-color:hsl(190, 82%, 19%);
    color: white;
    font-weight: 700;
}
#getstarted button:hover {
    background-color:hsl(190, 82%, 38%);
    color:white;
}

/*footer styling*/
footer{
    background-color: hsl(190, 89%, 10%);
    padding: 3rem 1rem  ;
    margin-top: 0px;
    min-height: 30vh;
    color: white;
}

footer h3{
    font-weight: 800;
}

footer p{
    font-weight: 300;
}

footer ul {
    list-style-type: none;
    font-weight: 200;
}
footer a {
    color: white;
}
footer a:hover {
    color: rgb(15, 157, 192);
    
}

/**/
.csd {
    position: relative;
    top:-15px;
    left: 25px;
    background-color: hsl(190, 83%, 19%);
    width: 75px;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 5px 5px hsla(0, 0%, 0%, 0.2),
                0px 3px 5px hsla(0, 0%, 0%, 0.1)
}
.csd i {
    font-weight: 900; 
    font-size: 40px;
    color: white;
    
}

i {
    font-size: 40px;
    color: hsl(190, 84%, 19%);
    font-weight: 900;
}